{% extends "layout.njk" %} <!-- chamando o arquivo base do layout -->

{% block content %} <!-- bloco de conteúdo que será inserido dentro do layout.njk -->
  <section class="container form">
    <form method="POST" action="/products">
      <div class="header">
        <h3>Cadastrar Produto</h3>
      </div>

      <div class="fields">
        {% include 'products/fields.njk' %}
      </div>

      <button type="submit">Salvar</button>
    </form>
  </section>
{% endblock content %}